<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.centra.dst.dao.mapper.interfaces.DstCustLevelInstanceMapper" >
  <resultMap id="BaseResultMap" type="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstance" >
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="LEVEL_CODE" property="levelCode" jdbcType="VARCHAR" />
    <result column="EFFECTIVE_DATE" property="effectiveDate" jdbcType="TIMESTAMP" />
    <result column="EXPIRATION_DATE" property="expirationDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, INSTANCE_ID, CUST_ID, LEVEL_CODE, EFFECTIVE_DATE, EXPIRATION_DATE, CREATE_DATE, 
    REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstanceCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dst_cust_level_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstanceCriteria" >
    delete from dst_cust_level_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstance" >
    insert into dst_cust_level_instance (TENANT_ID, INSTANCE_ID, CUST_ID, 
      LEVEL_CODE, EFFECTIVE_DATE, EXPIRATION_DATE, 
      CREATE_DATE, REMARK)
    values (#{tenantId,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{levelCode,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=TIMESTAMP}, #{expirationDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstance" >
    insert into dst_cust_level_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="instanceId != null" >
        INSTANCE_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="levelCode != null" >
        LEVEL_CODE,
      </if>
      <if test="effectiveDate != null" >
        EFFECTIVE_DATE,
      </if>
      <if test="expirationDate != null" >
        EXPIRATION_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null" >
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expirationDate != null" >
        #{expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstCustLevelInstanceCriteria" resultType="java.lang.Integer" >
    select count(*) from dst_cust_level_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dst_cust_level_instance
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.instanceId != null" >
        INSTANCE_ID = #{record.instanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null" >
        LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.effectiveDate != null" >
        EFFECTIVE_DATE = #{record.effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expirationDate != null" >
        EXPIRATION_DATE = #{record.expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dst_cust_level_instance
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      INSTANCE_ID = #{record.instanceId,jdbcType=VARCHAR},
      CUST_ID = #{record.custId,jdbcType=VARCHAR},
      LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      EFFECTIVE_DATE = #{record.effectiveDate,jdbcType=TIMESTAMP},
      EXPIRATION_DATE = #{record.expirationDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>