<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.centra.dst.dao.mapper.interfaces.DstDiscountLevelMapper">
  <resultMap id="BaseResultMap" type="com.x.centra.dst.dao.mapper.bo.DstDiscountLevel">
    <id column="LEVEL_ID" jdbcType="VARCHAR" property="levelId" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="LEVEL_NAME" jdbcType="VARCHAR" property="levelName" />
    <result column="LEVEL_CODE" jdbcType="VARCHAR" property="levelCode" />
    <result column="INSTRUCTIONS" jdbcType="VARCHAR" property="instructions" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LEVEL_ID, TENANT_ID, LEVEL_NAME, LEVEL_CODE, INSTRUCTIONS, STATUS, CREATE_USER_ID, 
    CREATE_DATE, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dst_discount_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dst_discount_level
    where LEVEL_ID = #{levelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dst_discount_level
    where LEVEL_ID = #{levelId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelCriteria">
    delete from dst_discount_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevel">
    insert into dst_discount_level (LEVEL_ID, TENANT_ID, LEVEL_NAME, 
      LEVEL_CODE, INSTRUCTIONS, STATUS, 
      CREATE_USER_ID, CREATE_DATE, REMARK
      )
    values (#{levelId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{levelName,jdbcType=VARCHAR}, 
      #{levelCode,jdbcType=VARCHAR}, #{instructions,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevel">
    insert into dst_discount_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="levelId != null">
        LEVEL_ID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="levelName != null">
        LEVEL_NAME,
      </if>
      <if test="levelCode != null">
        LEVEL_CODE,
      </if>
      <if test="instructions != null">
        INSTRUCTIONS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="levelId != null">
        #{levelId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null">
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="instructions != null">
        #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelCriteria" resultType="java.lang.Integer">
    select count(*) from dst_discount_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dst_discount_level
    <set>
      <if test="record.levelId != null">
        LEVEL_ID = #{record.levelId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.levelName != null">
        LEVEL_NAME = #{record.levelName,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null">
        LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.instructions != null">
        INSTRUCTIONS = #{record.instructions,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dst_discount_level
    set LEVEL_ID = #{record.levelId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      LEVEL_NAME = #{record.levelName,jdbcType=VARCHAR},
      LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      INSTRUCTIONS = #{record.instructions,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevel">
    update dst_discount_level
    <set>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null">
        LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        LEVEL_CODE = #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="instructions != null">
        INSTRUCTIONS = #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where LEVEL_ID = #{levelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevel">
    update dst_discount_level
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      LEVEL_CODE = #{levelCode,jdbcType=VARCHAR},
      INSTRUCTIONS = #{instructions,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where LEVEL_ID = #{levelId,jdbcType=VARCHAR}
  </update>
</mapper>