<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.centra.dst.dao.mapper.interfaces.DstDiscountOwnerLimitMapper" >
  <resultMap id="BaseResultMap" type="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimit" >
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="DISCOUNT_CODE" property="discountCode" jdbcType="VARCHAR" />
    <result column="OWNER_CODE" property="ownerCode" jdbcType="VARCHAR" />
    <result column="LIMIT_STATUS" property="limitStatus" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, DISCOUNT_CODE, OWNER_CODE, LIMIT_STATUS, CREATE_USER_ID, CREATE_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimitCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dst_discount_owner_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimitCriteria" >
    delete from dst_discount_owner_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimit" >
    insert into dst_discount_owner_limit (TENANT_ID, DISCOUNT_CODE, OWNER_CODE, 
      LIMIT_STATUS, CREATE_USER_ID, CREATE_DATE
      )
    values (#{tenantId,jdbcType=VARCHAR}, #{discountCode,jdbcType=VARCHAR}, #{ownerCode,jdbcType=VARCHAR}, 
      #{limitStatus,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimit" >
    insert into dst_discount_owner_limit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="discountCode != null" >
        DISCOUNT_CODE,
      </if>
      <if test="ownerCode != null" >
        OWNER_CODE,
      </if>
      <if test="limitStatus != null" >
        LIMIT_STATUS,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="discountCode != null" >
        #{discountCode,jdbcType=VARCHAR},
      </if>
      <if test="ownerCode != null" >
        #{ownerCode,jdbcType=VARCHAR},
      </if>
      <if test="limitStatus != null" >
        #{limitStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountOwnerLimitCriteria" resultType="java.lang.Integer" >
    select count(*) from dst_discount_owner_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dst_discount_owner_limit
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.discountCode != null" >
        DISCOUNT_CODE = #{record.discountCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerCode != null" >
        OWNER_CODE = #{record.ownerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.limitStatus != null" >
        LIMIT_STATUS = #{record.limitStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dst_discount_owner_limit
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      DISCOUNT_CODE = #{record.discountCode,jdbcType=VARCHAR},
      OWNER_CODE = #{record.ownerCode,jdbcType=VARCHAR},
      LIMIT_STATUS = #{record.limitStatus,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>