<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.centra.dst.dao.mapper.interfaces.DstDiscountLevelRelationMapper">
  <resultMap id="BaseResultMap" type="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelation">
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="DISCOUNT_CODE" jdbcType="VARCHAR" property="discountCode" />
    <result column="LEVEL_CODE" jdbcType="VARCHAR" property="levelCode" />
    <result column="REL_STATUS" jdbcType="VARCHAR" property="relStatus" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TENANT_ID, DISCOUNT_CODE, LEVEL_CODE, REL_STATUS, CREATE_USER_ID, CREATE_DATE
  </sql>
  <select id="selectByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelationCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dst_discount_level_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelationCriteria">
    delete from dst_discount_level_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelation">
    insert into dst_discount_level_relation (TENANT_ID, DISCOUNT_CODE, LEVEL_CODE, 
      REL_STATUS, CREATE_USER_ID, CREATE_DATE
      )
    values (#{tenantId,jdbcType=VARCHAR}, #{discountCode,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}, 
      #{relStatus,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelation">
    insert into dst_discount_level_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="discountCode != null">
        DISCOUNT_CODE,
      </if>
      <if test="levelCode != null">
        LEVEL_CODE,
      </if>
      <if test="relStatus != null">
        REL_STATUS,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="discountCode != null">
        #{discountCode,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="relStatus != null">
        #{relStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.centra.dst.dao.mapper.bo.DstDiscountLevelRelationCriteria" resultType="java.lang.Long">
    select count(*) from dst_discount_level_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dst_discount_level_relation
    <set>
      <if test="record.tenantId != null">
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.discountCode != null">
        DISCOUNT_CODE = #{record.discountCode,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null">
        LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.relStatus != null">
        REL_STATUS = #{record.relStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dst_discount_level_relation
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      DISCOUNT_CODE = #{record.discountCode,jdbcType=VARCHAR},
      LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      REL_STATUS = #{record.relStatus,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>